flows.json
[{"id":"3af82246.3634ae","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1ff9dc8c.5ff483","type":"tab","label":"[Vega] Example Gallery","disabled":false,"info":"# Shows Examples from [Vega Example Gallery](https://vega.github.io/vega/examples/).\n\n- press button of inject node to initialize dropdown menu\n- examples are displayed on **Example 2 - Vega** tab.\n- "},{"id":"199045e2.587b1a","type":"http proxy","z":"","name":"FJ-Proxy","url":"http://kmt.proxy.nic.fujitsu.com:8080","noproxy":[]},{"id":"2101f64f.afd62a","type":"ui_group","z":"","name":"Group 1","tab":"9e9b434c.773e","order":1,"disp":false,"width":"20","collapse":false},{"id":"9e9b434c.773e","type":"ui_tab","z":"","name":"[Vega] Example Gallery","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"32234419.2fb16c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED ダッシュボード","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"YYYY/MM/DD","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e51e4781.1adc78","type":"inject","z":"3af82246.3634ae","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":150,"wires":[["e892f564.2e4638"]]},{"id":"e892f564.2e4638","type":"debug","z":"3af82246.3634ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":320,"y":100,"wires":[]},{"id":"a72e3831.c27778","type":"debug","z":"1ff9dc8c.5ff483","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":970,"y":150,"wires":[]},{"id":"8008bd73.fbad3","type":"http request","z":"1ff9dc8c.5ff483","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"199045e2.587b1a","authType":"","x":650,"y":140,"wires":[["29c5c831.08eb88","33c1bb68.f71044"]]},{"id":"b1d4352e.337378","type":"change","z":"1ff9dc8c.5ff483","name":"Vega Example URL","rules":[{"t":"set","p":"url","pt":"msg","to":"\"https://raw.githubusercontent.com/vega/vega/master/docs/examples/\" & payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":200,"wires":[["8008bd73.fbad3","7326c37.1b6d63c"]]},{"id":"29c5c831.08eb88","type":"function","z":"1ff9dc8c.5ff483","name":"Fix Data URL","func":"function fixURL(obj) {\n    if (obj === null) {\n        return null;\n    }\n    else if (Array.isArray(obj)) {\n        return obj.map(fixURL);\n    }\n    else if(typeof obj === \"object\") {\n        var newObj = {};\n        Object.keys(obj).forEach(function (key) {\n            var val = obj[key];\n            if (key === \"url\") {\n                newObj[key] = \"https://raw.githubusercontent.com/vega/vega/master/docs/\" +val;\n            }\n            else {\n                newObj[key] = fixURL(val);\n            }\n        });\n        return newObj;\n    }\n    return obj;\n}\n\nmsg = {\n    payload: fixURL(msg.payload)\n};\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":200,"wires":[["a72e3831.c27778","c37b74b7.120fd8"]]},{"id":"c37b74b7.120fd8","type":"ui_vega","z":"1ff9dc8c.5ff483","group":"2101f64f.afd62a","name":"","order":2,"width":20,"height":15,"vega":"","x":930,"y":260,"wires":[]},{"id":"dd65f8db.fb2598","type":"inject","z":"1ff9dc8c.5ff483","name":"Init","topic":"","payload":"airport-connections.vg.json","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":80,"wires":[["68cbc91d.412a28"]]},{"id":"68cbc91d.412a28","type":"template","z":"1ff9dc8c.5ff483","name":"List of Examples","field":"options","fieldType":"msg","format":"json","syntax":"plain","template":"[\n    {\n        \"Bar Chart\": \"bar-chart.vg.json\"\n    },\n    {\n        \"Stacked Bar Chart\": \"stacked-bar-chart.vg.json\"\n    },\n    {\n        \"Grouped Bar Chart\": \"grouped-bar-chart.vg.json\"\n    },\n    {\n        \"Nested Bar Chart\": \"nested-bar-chart.vg.json\"\n    },\n    {\n        \"Population Pyramid\": \"population-pyramid.vg.json\"\n    },\n    {\n        \"Line Chart\": \"line-chart.vg.json\"\n    },\n    {\n        \"Area Chart\": \"area-chart.vg.json\"\n    },\n    {\n        \"Stacked Area Chart\": \"stacked-area-chart.vg.json\"\n    },\n    {\n        \"Horizon Graph\": \"horizon-graph.vg.json\"\n    },\n    {\n        \"Job Voyager\": \"job-voyager.vg.json\"\n    },\n    {\n        \"Pie Chart\": \"pie-chart.vg.json\"\n    },\n    {\n        \"Donut Chart\": \"donut-chart.vg.json\"\n    },\n    {\n        \"Radial Plot\": \"radial-plot.vg.json\"\n    },\n    {\n        \"Scatter Plot\": \"scatter-plot.vg.json\"\n    },\n    {\n        \"Scatter Plot Null Values\": \"scatter-plot-null-values.vg.json\"\n    },\n    {\n        \"Connected Scatter Plot\": \"connected-scatter-plot.vg.json\"\n    },\n    {\n        \"Error Bars\": \"error-bars.vg.json\"\n    },\n    {\n        \"Barley Trellis Plot\": \"barley-trellis-plot.vg.json\"\n    },\n    {\n        \"Histogram\": \"histogram.vg.json\"\n    },\n    {\n        \"Histogram Null Values\": \"histogram-null-values.vg.json\"\n    },\n    {\n        \"Probability Density\": \"probability-density.vg.json\"\n    },\n    {\n        \"Box Plot\": \"box-plot.vg.json\"\n    },\n    {\n        \"Violin Plot\": \"violin-plot.vg.json\"\n    },\n    {\n        \"Top K Plot\": \"top-k-plot.vg.json\"\n    },\n    {\n        \"Top K Plot With Others\": \"top-k-plot-with-others.vg.json\"\n    },\n    {\n        \"Binned Scatter Plot\": \"binned-scatter-plot.vg.json\"\n    },\n    {\n        \"Contour Plot\": \"contour-plot.vg.json\"\n    },\n    {\n        \"Wheat Plot\": \"wheat-plot.vg.json\"\n    },\n    {\n        \"Hypothetical Outcome Plots\": \"hypothetical-outcome-plots.vg.json\"\n    },\n    {\n        \"Regression\": \"regression.vg.json\"\n    },\n    {\n        \"Loess Regression\": \"loess-regression.vg.json\"\n    },\n    {\n        \"County Unemployment\": \"county-unemployment.vg.json\"\n    },\n    {\n        \"Dorling Cartogram\": \"dorling-cartogram.vg.json\"\n    },\n    {\n        \"World Map\": \"world-map.vg.json\"\n    },\n    {\n        \"Earthquakes\": \"earthquakes.vg.json\"\n    },\n    {\n        \"Zoomable World Map\": \"zoomable-world-map.vg.json\"\n    },\n    {\n        \"Distortion Comparison\": \"distortion-comparison.vg.json\"\n    },\n    {\n        \"Volcano Contours\": \"volcano-contours.vg.json\"\n    },\n    {\n        \"Wind Vectors\": \"wind-vectors.vg.json\"\n    },\n    {\n        \"Tree Layout\": \"tree-layout.vg.json\"\n    },\n    {\n        \"Radial Tree Layout\": \"radial-tree-layout.vg.json\"\n    },\n    {\n        \"Treemap\": \"treemap.vg.json\"\n    },\n    {\n        \"Circle Packing\": \"circle-packing.vg.json\"\n    },\n    {\n        \"Sunburst\": \"sunburst.vg.json\"\n    },\n    {\n        \"Edge Bundling\": \"edge-bundling.vg.json\"\n    },\n    {\n        \"Force Directed Layout\": \"force-directed-layout.vg.json\"\n    },\n    {\n        \"Reorderable Matrix\": \"reorderable-matrix.vg.json\"\n    },\n    {\n        \"Arc Diagram\": \"arc-diagram.vg.json\"\n    },\n    {\n        \"Airport Connections\": \"airport-connections.vg.json\"\n    },\n    {\n        \"heatmap\": \"heatmap.vg.json\"\n    },\n    {\n        \"Parallel Coordinates\": \"parallel-coordinates.vg.json\"\n    },\n    {\n        \"Word Cloud\": \"word-cloud.vg.json\"\n    },\n    {\n        \"Timelines\": \"timelines.vg.json\"\n    },\n    {\n        \"Beeswarm Plot\": \"beeswarm-plot.vg.json\"\n    },\n    {\n        \"Budget Forecasts\": \"budget-forecasts.vg.json\"\n    },\n    {\n        \"Wheat And Wages\": \"wheat-and-wages.vg.json\"\n    },\n    {\n        \"Falkensee Population\": \"falkensee-population.vg.json\"\n    },\n    {\n        \"Annual Temperature\": \"annual-temperature.vg.json\"\n    },\n    {\n        \"Weekly Temperature\": \"weekly-temperature.vg.json\"\n    },\n    {\n        \"U District Cuisine\": \"u-district-cuisine.vg.json\"\n    },\n    {\n        \"Crossfilter Flights\": \"crossfilter-flights.vg.json\"\n    },\n    {\n        \"Overview Plus Detail\": \"overview-plus-detail.vg.json\"\n    },\n    {\n        \"Brushing Scatter Plots\": \"brushing-scatter-plots.vg.json\"\n    },\n    {\n        \"Zoomable Scatter Plot\": \"zoomable-scatter-plot.vg.json\"\n    },\n    {\n        \"Global Development\": \"global-development.vg.json\"\n    },\n    {\n        \"Interactive Legend\": \"interactive-legend.vg.json\"\n    },\n    {\n        \"Stock Index Chart\": \"stock-index-chart.vg.json\"\n    },\n    {\n        \"Pi Monte Carlo\": \"pi-monte-carlo.vg.json\"\n    }\n]\n","output":"json","x":230,"y":140,"wires":[["80e6fdb7.1ffc4"]]},{"id":"7458af84.79306","type":"comment","z":"1ff9dc8c.5ff483","name":"Press to initialize dropdown","info":"","x":180,"y":40,"wires":[]},{"id":"c77371b7.f8bf8","type":"comment","z":"1ff9dc8c.5ff483","name":"To see Vega definition","info":"","x":980,"y":100,"wires":[]},{"id":"9cc5d060.3fe9c","type":"comment","z":"1ff9dc8c.5ff483","name":"Visualize by Vega","info":"","x":960,"y":300,"wires":[]},{"id":"80e6fdb7.1ffc4","type":"ui_dropdown","z":"1ff9dc8c.5ff483","name":"","label":"","tooltip":"","place":"Select option","group":"2101f64f.afd62a","order":1,"width":18,"height":1,"passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":310,"y":200,"wires":[["b1d4352e.337378"]]},{"id":"7326c37.1b6d63c","type":"debug","z":"1ff9dc8c.5ff483","name":"URL","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":625,"y":281,"wires":[]},{"id":"33c1bb68.f71044","type":"debug","z":"1ff9dc8c.5ff483","name":"http response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":840,"y":50,"wires":[]}]