flows.json
[{"id":"3af82246.3634ae","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1ff9dc8c.5ff483","type":"tab","label":"[Vega] Example Gallery","disabled":false,"info":"# Shows Examples from [Vega Example Gallery](https://vega.github.io/vega/examples/).\n\n- press button of inject node to initialize dropdown menu\n- examples are displayed on **Example 2 - Vega** tab.\n- "},{"id":"67322a2f.204c34","type":"tab","label":"IoTデータ受信量","disabled":false,"info":""},{"id":"199045e2.587b1a","type":"http proxy","z":"","name":"FJ-Proxy","url":"http://kmt.proxy.nic.fujitsu.com:8080","noproxy":[]},{"id":"2101f64f.afd62a","type":"ui_group","z":"","name":"Group 1","tab":"9e9b434c.773e","order":1,"disp":false,"width":"20","collapse":false},{"id":"9e9b434c.773e","type":"ui_tab","z":"","name":"[Vega] Example Gallery","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"32234419.2fb16c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED ダッシュボード","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"YYYY/MM/DD","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"11649d6e.3ca5c3","type":"mqtt-broker","z":"","name":"","broker":"10.31.144.120","port":"8883","tls":"61d60cc4.d30a14","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"f327ef3.bab2b1","type":"ui_group","z":"","name":"IoTデータ受信状況","tab":"eb399620.db0cf8","disp":false,"width":"24","collapse":false},{"id":"9940b90e.936ab8","type":"mqtt-broker","z":"","name":"","broker":"10.31.144.120","port":"8883","tls":"abc49442.aad338","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9a8cc41a.620528","type":"mqtt-broker","z":"","name":"","broker":"10.31.144.120","port":"8883","tls":"906f95a1.94ff88","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"61d60cc4.d30a14","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"eb399620.db0cf8","type":"ui_tab","z":"","name":"IoTデータ受信状況","icon":"dashboard","disabled":false,"hidden":false},{"id":"abc49442.aad338","type":"tls-config","z":"","name":"20200213_TSL","cert":"","key":"","ca":"","certname":"server.crt","keyname":"server.key","caname":"ca.crt","servername":"","verifyservercert":false},{"id":"906f95a1.94ff88","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"e51e4781.1adc78","type":"inject","z":"3af82246.3634ae","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":40,"wires":[["e892f564.2e4638"]]},{"id":"e892f564.2e4638","type":"debug","z":"3af82246.3634ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":320,"y":100,"wires":[]},{"id":"a72e3831.c27778","type":"debug","z":"1ff9dc8c.5ff483","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":970,"y":150,"wires":[]},{"id":"8008bd73.fbad3","type":"http request","z":"1ff9dc8c.5ff483","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"199045e2.587b1a","authType":"","x":650,"y":140,"wires":[["29c5c831.08eb88","33c1bb68.f71044"]]},{"id":"b1d4352e.337378","type":"change","z":"1ff9dc8c.5ff483","name":"Vega Example URL","rules":[{"t":"set","p":"url","pt":"msg","to":"\"https://raw.githubusercontent.com/vega/vega/master/docs/examples/\" & payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":200,"wires":[["8008bd73.fbad3","7326c37.1b6d63c"]]},{"id":"29c5c831.08eb88","type":"function","z":"1ff9dc8c.5ff483","name":"Fix Data URL","func":"function fixURL(obj) {\n    if (obj === null) {\n        return null;\n    }\n    else if (Array.isArray(obj)) {\n        return obj.map(fixURL);\n    }\n    else if(typeof obj === \"object\") {\n        var newObj = {};\n        Object.keys(obj).forEach(function (key) {\n            var val = obj[key];\n            if (key === \"url\") {\n                newObj[key] = \"https://raw.githubusercontent.com/vega/vega/master/docs/\" +val;\n            }\n            else {\n                newObj[key] = fixURL(val);\n            }\n        });\n        return newObj;\n    }\n    return obj;\n}\n\nmsg = {\n    payload: fixURL(msg.payload)\n};\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":200,"wires":[["a72e3831.c27778","c37b74b7.120fd8"]]},{"id":"c37b74b7.120fd8","type":"ui_vega","z":"1ff9dc8c.5ff483","group":"2101f64f.afd62a","name":"","order":2,"width":20,"height":15,"vega":"","x":930,"y":260,"wires":[]},{"id":"dd65f8db.fb2598","type":"inject","z":"1ff9dc8c.5ff483","name":"Init","topic":"","payload":"airport-connections.vg.json","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":80,"wires":[["68cbc91d.412a28"]]},{"id":"68cbc91d.412a28","type":"template","z":"1ff9dc8c.5ff483","name":"List of Examples","field":"options","fieldType":"msg","format":"json","syntax":"plain","template":"[\n    {\n        \"Bar Chart\": \"bar-chart.vg.json\"\n    },\n    {\n        \"Stacked Bar Chart\": \"stacked-bar-chart.vg.json\"\n    },\n    {\n        \"Grouped Bar Chart\": \"grouped-bar-chart.vg.json\"\n    },\n    {\n        \"Nested Bar Chart\": \"nested-bar-chart.vg.json\"\n    },\n    {\n        \"Population Pyramid\": \"population-pyramid.vg.json\"\n    },\n    {\n        \"Line Chart\": \"line-chart.vg.json\"\n    },\n    {\n        \"Area Chart\": \"area-chart.vg.json\"\n    },\n    {\n        \"Stacked Area Chart\": \"stacked-area-chart.vg.json\"\n    },\n    {\n        \"Horizon Graph\": \"horizon-graph.vg.json\"\n    },\n    {\n        \"Job Voyager\": \"job-voyager.vg.json\"\n    },\n    {\n        \"Pie Chart\": \"pie-chart.vg.json\"\n    },\n    {\n        \"Donut Chart\": \"donut-chart.vg.json\"\n    },\n    {\n        \"Radial Plot\": \"radial-plot.vg.json\"\n    },\n    {\n        \"Scatter Plot\": \"scatter-plot.vg.json\"\n    },\n    {\n        \"Scatter Plot Null Values\": \"scatter-plot-null-values.vg.json\"\n    },\n    {\n        \"Connected Scatter Plot\": \"connected-scatter-plot.vg.json\"\n    },\n    {\n        \"Error Bars\": \"error-bars.vg.json\"\n    },\n    {\n        \"Barley Trellis Plot\": \"barley-trellis-plot.vg.json\"\n    },\n    {\n        \"Histogram\": \"histogram.vg.json\"\n    },\n    {\n        \"Histogram Null Values\": \"histogram-null-values.vg.json\"\n    },\n    {\n        \"Probability Density\": \"probability-density.vg.json\"\n    },\n    {\n        \"Box Plot\": \"box-plot.vg.json\"\n    },\n    {\n        \"Violin Plot\": \"violin-plot.vg.json\"\n    },\n    {\n        \"Top K Plot\": \"top-k-plot.vg.json\"\n    },\n    {\n        \"Top K Plot With Others\": \"top-k-plot-with-others.vg.json\"\n    },\n    {\n        \"Binned Scatter Plot\": \"binned-scatter-plot.vg.json\"\n    },\n    {\n        \"Contour Plot\": \"contour-plot.vg.json\"\n    },\n    {\n        \"Wheat Plot\": \"wheat-plot.vg.json\"\n    },\n    {\n        \"Hypothetical Outcome Plots\": \"hypothetical-outcome-plots.vg.json\"\n    },\n    {\n        \"Regression\": \"regression.vg.json\"\n    },\n    {\n        \"Loess Regression\": \"loess-regression.vg.json\"\n    },\n    {\n        \"County Unemployment\": \"county-unemployment.vg.json\"\n    },\n    {\n        \"Dorling Cartogram\": \"dorling-cartogram.vg.json\"\n    },\n    {\n        \"World Map\": \"world-map.vg.json\"\n    },\n    {\n        \"Earthquakes\": \"earthquakes.vg.json\"\n    },\n    {\n        \"Zoomable World Map\": \"zoomable-world-map.vg.json\"\n    },\n    {\n        \"Distortion Comparison\": \"distortion-comparison.vg.json\"\n    },\n    {\n        \"Volcano Contours\": \"volcano-contours.vg.json\"\n    },\n    {\n        \"Wind Vectors\": \"wind-vectors.vg.json\"\n    },\n    {\n        \"Tree Layout\": \"tree-layout.vg.json\"\n    },\n    {\n        \"Radial Tree Layout\": \"radial-tree-layout.vg.json\"\n    },\n    {\n        \"Treemap\": \"treemap.vg.json\"\n    },\n    {\n        \"Circle Packing\": \"circle-packing.vg.json\"\n    },\n    {\n        \"Sunburst\": \"sunburst.vg.json\"\n    },\n    {\n        \"Edge Bundling\": \"edge-bundling.vg.json\"\n    },\n    {\n        \"Force Directed Layout\": \"force-directed-layout.vg.json\"\n    },\n    {\n        \"Reorderable Matrix\": \"reorderable-matrix.vg.json\"\n    },\n    {\n        \"Arc Diagram\": \"arc-diagram.vg.json\"\n    },\n    {\n        \"Airport Connections\": \"airport-connections.vg.json\"\n    },\n    {\n        \"heatmap\": \"heatmap.vg.json\"\n    },\n    {\n        \"Parallel Coordinates\": \"parallel-coordinates.vg.json\"\n    },\n    {\n        \"Word Cloud\": \"word-cloud.vg.json\"\n    },\n    {\n        \"Timelines\": \"timelines.vg.json\"\n    },\n    {\n        \"Beeswarm Plot\": \"beeswarm-plot.vg.json\"\n    },\n    {\n        \"Budget Forecasts\": \"budget-forecasts.vg.json\"\n    },\n    {\n        \"Wheat And Wages\": \"wheat-and-wages.vg.json\"\n    },\n    {\n        \"Falkensee Population\": \"falkensee-population.vg.json\"\n    },\n    {\n        \"Annual Temperature\": \"annual-temperature.vg.json\"\n    },\n    {\n        \"Weekly Temperature\": \"weekly-temperature.vg.json\"\n    },\n    {\n        \"U District Cuisine\": \"u-district-cuisine.vg.json\"\n    },\n    {\n        \"Crossfilter Flights\": \"crossfilter-flights.vg.json\"\n    },\n    {\n        \"Overview Plus Detail\": \"overview-plus-detail.vg.json\"\n    },\n    {\n        \"Brushing Scatter Plots\": \"brushing-scatter-plots.vg.json\"\n    },\n    {\n        \"Zoomable Scatter Plot\": \"zoomable-scatter-plot.vg.json\"\n    },\n    {\n        \"Global Development\": \"global-development.vg.json\"\n    },\n    {\n        \"Interactive Legend\": \"interactive-legend.vg.json\"\n    },\n    {\n        \"Stock Index Chart\": \"stock-index-chart.vg.json\"\n    },\n    {\n        \"Pi Monte Carlo\": \"pi-monte-carlo.vg.json\"\n    }\n]\n","output":"json","x":230,"y":140,"wires":[["80e6fdb7.1ffc4"]]},{"id":"7458af84.79306","type":"comment","z":"1ff9dc8c.5ff483","name":"Press to initialize dropdown","info":"","x":180,"y":40,"wires":[]},{"id":"c77371b7.f8bf8","type":"comment","z":"1ff9dc8c.5ff483","name":"To see Vega definition","info":"","x":980,"y":100,"wires":[]},{"id":"9cc5d060.3fe9c","type":"comment","z":"1ff9dc8c.5ff483","name":"Visualize by Vega","info":"","x":960,"y":300,"wires":[]},{"id":"80e6fdb7.1ffc4","type":"ui_dropdown","z":"1ff9dc8c.5ff483","name":"","label":"","tooltip":"","place":"Select option","group":"2101f64f.afd62a","order":1,"width":18,"height":1,"passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":310,"y":200,"wires":[["b1d4352e.337378"]]},{"id":"7326c37.1b6d63c","type":"debug","z":"1ff9dc8c.5ff483","name":"URL","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":625,"y":281,"wires":[]},{"id":"33c1bb68.f71044","type":"debug","z":"1ff9dc8c.5ff483","name":"http response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":840,"y":50,"wires":[]},{"id":"a20d664.0d74098","type":"mqtt in","z":"67322a2f.204c34","name":"","topic":"nfc_reader","qos":"1","datatype":"auto","broker":"11649d6e.3ca5c3","x":80,"y":160,"wires":[["84d1a836.a93568"]]},{"id":"9b451002.78f8b","type":"ui_gauge","z":"67322a2f.204c34","name":"","group":"f327ef3.bab2b1","order":1,"width":"6","height":"5","gtype":"gage","title":"データ受信量","label":"Bytes / 秒","format":"{{value}}","min":0,"max":"2000","colors":["#80ffff","#80ffff","#80ffff"],"seg1":"","seg2":"","x":530,"y":430,"wires":[]},{"id":"310c525.e786dae","type":"ui_chart","z":"67322a2f.204c34","name":"","group":"f327ef3.bab2b1","order":2,"width":"10","height":"5","label":"データ受信量履歴（移動平均）","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#0080ff","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":550,"y":500,"wires":[[]]},{"id":"48c8d7a1.f1d478","type":"mqtt in","z":"67322a2f.204c34","name":"conveyor_log","topic":"conveyor_v2","qos":"2","datatype":"auto","broker":"9940b90e.936ab8","x":88.99999237060547,"y":211.99998569488525,"wires":[["84d1a836.a93568"]]},{"id":"4d1ef60e.4063e8","type":"mqtt in","z":"67322a2f.204c34","name":"assembly_log","topic":"assembly","qos":"2","datatype":"auto","broker":"9940b90e.936ab8","x":90.99998474121094,"y":264.99995517730713,"wires":[["84d1a836.a93568"]]},{"id":"be832776.eb8518","type":"json","z":"67322a2f.204c34","name":"","pretty":false,"x":440,"y":190,"wires":[["51f46394.7759bc","29a0efb5.50ed6"]]},{"id":"29a0efb5.50ed6","type":"function","z":"67322a2f.204c34","name":"","func":"var len = flow.get('len') || 0;\n\nvar work = msg.payload;\n\n// node.warn(\"work.length=\" + work.length);\nlen = len + work.length;\n// node.warn(\"len=\" + len);\n\nflow.set('len', len);\n\nmsg.payload = len;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":190,"wires":[["ce3287db.bd5bd8"]]},{"id":"56220f61.4a7fc","type":"debug","z":"67322a2f.204c34","name":"msg1","active":false,"console":"false","complete":"true","x":400,"y":260,"wires":[]},{"id":"ce3287db.bd5bd8","type":"debug","z":"67322a2f.204c34","name":"msg3","active":true,"console":"false","complete":"true","x":800,"y":190,"wires":[]},{"id":"51f46394.7759bc","type":"debug","z":"67322a2f.204c34","name":"msg4","active":false,"console":"false","complete":"true","x":630,"y":260,"wires":[]},{"id":"84d1a836.a93568","type":"json","z":"67322a2f.204c34","name":"","pretty":false,"x":270,"y":190,"wires":[["56220f61.4a7fc","be832776.eb8518"]]},{"id":"5017f50b.14903c","type":"mqtt in","z":"67322a2f.204c34","name":"pick_log","topic":"picking","qos":"2","datatype":"auto","broker":"9a8cc41a.620528","x":80,"y":330,"wires":[["84d1a836.a93568"]]},{"id":"81c54caa.85327","type":"inject","z":"67322a2f.204c34","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":430,"wires":[["7e22cd60.621594","ff1b8601.f9d4a8"]]},{"id":"7e22cd60.621594","type":"function","z":"67322a2f.204c34","name":"過去データ保存","func":"var len = flow.get('len');\nvar keep_len = flow.get('keep_len');\nvar move_time = flow.get('move_time');\n\nif(keep_len.length >= move_time) {\n    keep_len.shift();\n    keep_len.push(len);\n} else {\n    keep_len.push(len);\n}\n\nmsg.payload = len;\n\nlen = 0;\nflow.set('len', len);\nflow.set('keep_len', keep_len);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":330,"y":430,"wires":[["9b451002.78f8b"]]},{"id":"ff1b8601.f9d4a8","type":"function","z":"67322a2f.204c34","name":"","func":"var keep_len = flow.get('keep_len') || [];\n\nvar sum = 0;\n\nfor(var i=0; i<keep_len.length; i++ ){\n    sum = sum + keep_len[i];\n}\n\nvar ave = parseInt(sum/keep_len.length);\n\nmsg.payload = ave;\nmsg.color = 1;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":300,"y":500,"wires":[["310c525.e786dae","6f67dccd.76e974"]]},{"id":"a388a045.bfced","type":"inject","z":"67322a2f.204c34","name":"","topic":"","payload":"\"ABCDEFG\"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":100,"y":40,"wires":[["25a0c6f3.41fcda"]]},{"id":"25a0c6f3.41fcda","type":"function","z":"67322a2f.204c34","name":"変数初期化","func":"var len = 0;\nvar keep_len = [];\nvar move_time = 30;\n\nflow.set('len', len);\nflow.set('keep_len', keep_len);\nflow.set('move_time', move_time);\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":40,"wires":[["c425f284.57886"]]},{"id":"c425f284.57886","type":"debug","z":"67322a2f.204c34","name":"msg0","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":500,"y":40,"wires":[]},{"id":"cd310259.9b5cb","type":"inject","z":"67322a2f.204c34","name":"テスト用インジェクト","topic":"","payload":"0123456789","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":130,"wires":[["29a0efb5.50ed6"]]},{"id":"6f67dccd.76e974","type":"debug","z":"67322a2f.204c34","name":"msg7","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":480,"y":560,"wires":[]},{"id":"2401f30d.8af75c","type":"ui_slider","z":"67322a2f.204c34","name":"移動平均時間","label":"移動平均時間（秒） ","tooltip":"","group":"f327ef3.bab2b1","order":2,"width":"6","height":"2","passthru":true,"outs":"end","topic":"","min":0,"max":"60","step":1,"x":260,"y":620,"wires":[["99167165.c33c"]]},{"id":"fb9be8a.afb0218","type":"inject","z":"67322a2f.204c34","name":"","topic":"","payload":"30","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":70,"y":620,"wires":[["2401f30d.8af75c"]]},{"id":"99167165.c33c","type":"function","z":"67322a2f.204c34","name":"","func":"var move_time = flow.get('move_time');\nvar keep_len = flow.get('keep_len');\n\nmove_time = msg.payload;\n\nvar loop = keep_len.length - move_time;\nfor (var i=0; i < loop; i++) {\n    // node.warn(\"i=\" + i);\n    // node.warn(\"keep_len.length=\" + keep_len.length);\n    // node.warn(\"move_time=\" + move_time);\n    keep_len.shift();\n}\n\nflow.set('move_time', move_time);\nflow.set('keep_len', keep_len);\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":620,"wires":[[]]},{"id":"84ebb025.037dc","type":"change","z":"67322a2f.204c34","name":"","rules":[{"t":"set","p":"len","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":340,"wires":[[]]},{"id":"d2a3439e.ea74c","type":"catch","z":"67322a2f.204c34","name":"","scope":null,"uncaught":false,"x":90,"y":700,"wires":[["384922dc.cbabbe"]]},{"id":"384922dc.cbabbe","type":"debug","z":"67322a2f.204c34","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":270,"y":700,"wires":[]},{"id":"d40d487d.faab38","type":"ui_ui_control","z":"67322a2f.204c34","name":"","events":"all","x":450,"y":700,"wires":[[]]}]