flows.json
[{"id":"3af82246.3634ae","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"199045e2.587b1a","type":"http proxy","z":"","name":"FJ-Proxy","url":"http://kmt.proxy.nic.fujitsu.com:8080","noproxy":[]},{"id":"2101f64f.afd62a","type":"ui_group","z":"","name":"Group 1","tab":"9e9b434c.773e","order":1,"disp":false,"width":"20","collapse":false},{"id":"9e9b434c.773e","type":"ui_tab","z":"","name":"[Vega] Example Gallery","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"32234419.2fb16c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED ダッシュボード","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"YYYY/MM/DD","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"11649d6e.3ca5c3","type":"mqtt-broker","z":"","name":"","broker":"10.31.144.120","port":"8883","tls":"61d60cc4.d30a14","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"f327ef3.bab2b1","type":"ui_group","z":"","name":"IoTデータ受信状況","tab":"eb399620.db0cf8","disp":false,"width":"24","collapse":false},{"id":"9940b90e.936ab8","type":"mqtt-broker","z":"","name":"","broker":"10.31.144.120","port":"8883","tls":"abc49442.aad338","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9a8cc41a.620528","type":"mqtt-broker","z":"","name":"","broker":"10.31.144.120","port":"8883","tls":"906f95a1.94ff88","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"61d60cc4.d30a14","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"eb399620.db0cf8","type":"ui_tab","z":"","name":"IoTデータ受信状況","icon":"dashboard","disabled":false,"hidden":false},{"id":"abc49442.aad338","type":"tls-config","z":"","name":"20200213_TSL","cert":"","key":"","ca":"","certname":"server.crt","keyname":"server.key","caname":"ca.crt","servername":"","verifyservercert":false},{"id":"906f95a1.94ff88","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"e51e4781.1adc78","type":"inject","z":"3af82246.3634ae","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":40,"wires":[["e892f564.2e4638"]]},{"id":"e892f564.2e4638","type":"debug","z":"3af82246.3634ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":320,"y":100,"wires":[]},{"id":"2e6388fa.eef2f8","type":"http in","z":"3af82246.3634ae","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":120,"y":180,"wires":[["7461eb96.142834"]]},{"id":"90c6790c.45baf8","type":"http response","z":"3af82246.3634ae","name":"","statusCode":"","headers":{},"x":460,"y":180,"wires":[]},{"id":"7461eb96.142834","type":"change","z":"3af82246.3634ae","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"text\":\"Hello\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":180,"wires":[["90c6790c.45baf8"]]}]